<section
  class="bg-[#fdfeff] w-full"
  data-aos="fade-up"
  data-aos-duration="500"
>
  <div class="max-w-7xl w-full mx-auto px-4 py-20">
    <div class="flex flex-col gap-16">
      <div class="flex flex-col gap-5 w-full text-center">
        <h1 class="text-4xl font-bold">¿Cómo funciona SkillSwap?</h1>
        <p class="text-gray-500 text-lg">
          Nuestra plataforma te permite intercambiar conocimientos y habilidades con otras personas
          de <br />
          manera sencilla y sin costos.
        </p>
      </div>
      <div class="grid grid-cols-4 gap-8 place-items-center">
        <app-works-card
          *ngFor="let section of sections"
          [section]="section"
        ></app-works-card>
      </div>
    </div>
  </div>
</section>
