<header class="fixed inset-x-0 top-0 bg-white shadow text-sm/6 z-50">
  <nav class="flex items-center justify-between p-3 lg:px-8">
    <!-- ZONA IZQUIERDA -->
    <div class="flex items-center flex-1">
      <app-logo ></app-logo>
    </div>

    <!-- ZONA CENTRAL -->
    <div class="flex justify-center flex-1">
      <app-nav-desktop
        [categories]="categories"
        [goToExploreWithCategory]="goToExploreWithCategory"
        *ngIf="!isMobile"
      >
      </app-nav-desktop>
    </div>

    <!-- ZONA DERECHA -->
    <div class="flex justify-end items-center flex-1">
      <!-- Mobile solo visible en móvil -->
      <app-nav-mobile
        *ngIf="isMobile"
        [categories]="categories"
        [isLoggedIn]="isLoggedIn"
        [notifications]="notifications"
        [goToExploreWithCategory]="goToExploreWithCategory"
      >
      </app-nav-mobile>

      <app-user-actions [isLoggedIn]="isLoggedIn" [notifications]="notifications"></app-user-actions>
    </div>
  </nav>
</header>
