<section id="faq" class="max-w-4xl mx-auto p-6 mt-5 mb-5">
  <h1 class="text-3xl font-extrabold text-black text-center">Preguntas Frecuentes</h1>
  <div class="w-20 h-1 bg-blue-500 mx-auto mt-4 mb-5 rounded-full"></div>
  <p class="text-gray-600 mb-10 text-center">
    Todo lo que necesitas saber sobre cómo utilizar SkillPing
  </p>

  <div class="space-y-4">
    <app-faq-item
      *ngFor="let item of faqItems"
      [question]="item.question"
      [answer]="item.answer"
      [itemId]="item.id"
    >
    </app-faq-item>
  </div>
</section>
