<section data-aos="fade-up" data-aos-duration="300" class="max-w-7xl mx-auto px-6 py-16">
  <h2 class="text-3xl font-extrabold text-center text-gray-900 mb-6">
    ¿Qué es <span class="text-blue-500">SkillSwap</span>?
  </h2>
  <div class="w-20 h-1 bg-blue-500 mx-auto mb-10 rounded-full"></div>

  <div class="flex flex-col lg:flex-row gap-12">
    <!-- description y features -->
    <div class="flex-1">
      <p class="text-gray-900 mb-4 text-lg">
        SkillPing es una plataforma que conecta personas para intercambiar habilidades y
        conocimientos sin dinero de por medio...
      </p>
      <p class="text-gray-900 mb-8 text-lg">
        Contamos con un sistema de chat integrado que permite una comunicación directa y fluida
        entre usuarios, para que puedan coordinar horarios, definir objetivos de aprendizaje y
        conocerse mejor antes de empezar el intercambio.
      </p>

      <div class="flex flex-col sm:flex-row gap-6">
        <app-feature-item
          *ngFor="let feature of features"
          [icon]="feature.icon"
          [title]="feature.title"
          [description]="feature.description"
        ></app-feature-item>
      </div>
    </div>

    <!-- Pasos -->
    <div class="flex-1 bg-indigo-50 rounded-xl p-6">
      <app-steps [steps]="steps"></app-steps>
    </div>
  </div>
</section>
