<div data-aos="fade-up" data-aos-duration="300" class="border-gray-200 rounded-lg overflow-hidden">
  <button
    class="flex w-full p-4 font-medium hover:text-blue-500 underline items-center text-lg text-left"
    (click)="toggleAccordion()"
  >
    <span>{{ question }}</span>
    <svg
      [class.rotate-180]="isOpen"
      class="w-5 h-5 ml-2 transform transition-transform duration-300"
      fill="none"
      stroke="currentColor"
      viewBox="0 0 24 24"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      ></path>
    </svg>
  </button>

  <div
    [ngClass]="{
      'max-h-0 opacity-0': !isOpen,
      'max-h-96 opacity-100': isOpen
    }"
    class="transition-all duration-300 ease-in-out overflow-hidden px-4 bg-blue-50 text-gray-700"
  >
    <p class="py-4">{{ answer }}</p>
  </div>
</div>
